<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Net-a-switch</title>
    <link rel="icon" href="/static/Logo.png">
    <script type="text/javascript" src="{{ url_for('static', filename = 'libs/random.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'libs/prob-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'libs/priority-queue.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'libs/phaser.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'libs/phaser-input.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'libs/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'build/slick-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'build/classes.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'build/tutorial.min.js') }}"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static', filename = 'build/game.min.js') }}"></script>
</body>
</html>
