<!doctype html>
<html>

<head>
<title>Submit to Metaswitch</title>
<link rel="icon" href="/static/assets/Logo.png">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>

<body>

<center> <h1> Thank You for Playing ____, powered by </h1>
  <img src="/static/assets/metaswitch.png" alt="Metaswitch logo" width=500 height=81><br><br>
  <h3>Metaswitch is a UK-based tech company that designs, develops, manufactures, and
    markets telecommunications software. Congratulations on your high score of ___! <br>
    If you liked this game, we think you could be a good fit for a career at Metaswitch.
    Please check out our <a href="https://www.metaswitch.com/careers">career page</a>
    and submit your details below to keep in touch. </h3> </center> <br>

<form class="pure-form" align="center" method="POST">
    <fieldset>

    First Name <br> <input class="pure-input-1-4" id="first" type="text" placeholder="Write your first name here..." name="first">
    <br><br>

    Last Name <br> <input class="pure-input-1-4" id="last" type="text" placeholder="Write your last name here..." name="last">
    <br><br>

    Email Address <br> <input class="pure-input-1-4" id="email" type="text" placeholder="Write your email address here..." name="email">
    <br><br>


    <div class="pure-controls">
      <button type="submit" name="b" value="Submit" class="pure-button pure-button-primary">Submit</button>
      <button type="submit" name="b" value="Clear" class="pure-button pure-button-secondary">Clear</button>
    </div>
    </fieldset>
</form>


</body>
</html>
